@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 100vh;
  background: url("IMG-20251023-WA0039.jpg") center center/cover no-repeat;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

header * {
  z-index: 10;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#navbar img {
  width: 80px;
  margin-left: 50px;
}

nav ul {
  display: flex;
  margin-right: 50px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  border-bottom: 2px solid #e4b95b;
  color: #e4b95b;
}

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  text-align: center;
}

header .content h1 {
  font-size: 40px;
  color: #fff;
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-primary:hover {
  background: #e4b95b;
  border-color: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}

.btn-secondary, .btn-third:hover {
  background: #383848;
  color: #fff;
}

.btn-secondary:hover, .btn-third {
  background: #e4b95b;
  color: #fff;
}

#about {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

#about .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .about-content div {
  flex: 1;
}

#about .about-content p {
  margin-right: 2rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
  margin-bottom: 20px;
}

#about img {
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
}

#offers {
  padding: 5rem 0;
  background: url("IMG-20251023-WA0045.jpg") center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#offers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#offers .container {
  position: relative;
  z-index: 1;
}

#offers .title {
  text-align: center;
  margin-bottom: 4rem;
}

#offers h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #e4b95b;
}

#offers .title p {
  color: #fff;
  font-weight: 500;
}

#offers .offers-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#offers .offers-items img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #e4b95b;
}

#offers .offers-items h3 {
  font-size: 25px;
  color: #fff;
  margin: 15px 0;
}

#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  font-weight: 300;
  margin-bottom: 15px;
}

#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

#menu {
  background: #f4f2ed;
  padding: 5rem 0;
}

#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #383848;
}

#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#menu .menu-items-left, #menu .menu-items-right {
  flex: 1;
  padding: 0 20px;
}

#menu .menu-items .menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#menu .menu-items .menu-item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

#menu .menu-items .menu-item > div {
  width: 100%;
}

#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}

#menu .btn {
  display: block;
  margin: 30px auto 0;
  width: fit-content;
}

#daytime {
  background: url("IMG-20251023-WA0039.jpg") center center/cover fixed no-repeat; 
  color: #fff;
  text-align: center;
  position: relative;
  padding: 5rem 0;
}

#daytime::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#daytime .container {
  position: relative;
  z-index: 1;
}

#daytime .daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#daytime .daytime-items .daytime-item {
  margin: 20px;
}

#daytime .daytime-items img {
  width: 100px;
  margin-bottom: 15px;
}

#daytime .daytime-items h3 {
  font-size: 28px;
  margin: 10px 0;
}

#daytime .daytime-items p {
  font-weight: 500;
}

#gallery {
  background: #383848;
  padding: 5rem 0;
}

#gallery h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#gallery .img-gallery img {
  width: 300px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

#gallery .img-gallery img:hover {
  opacity: 1;
  transform: scale(1.05);
}

#contact {
  background: #f4f2ed;
  padding: 5rem 0;
}

#contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

#contact .contact-info {
  width: 45%;
}

#contact form {
  width: 50%;
}

#contact .contact-info div {
  margin-bottom: 30px;
}

#contact .contact-info h3 {
  font-size: 24px;
  color: #383848;
  margin-bottom: 15px;
  border-bottom: 2px solid #e4b95b;
  display: inline-block;
  padding-bottom: 5px;
}

#contact .contact-info p {
  color: #555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 10px;
  width: 20px;
}

#contact .contact-info .social-icons a {
  display: inline-block;
  margin-right: 10px;
}

#contact .contact-info .social-icons i {
  color: #fff;
  background: #383848;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

#contact .contact-info .social-icons i:hover {
  background-color: #e4b95b;
  color: #fff;
}

form input, form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  font-family: inherit;
}

form input:focus, form textarea:focus {
  outline: none;
  border-color: #e4b95b;
}

form button {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

#footer {
  background-color: #222;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

@media (max-width: 992px) {
  #navbar img {
    margin-left: 20px;
  }
  nav ul {
    margin-right: 20px;
  }
  #about .about-content {
    flex-direction: column;
    text-align: center;
  }
  #about .about-content p {
    margin-right: 0;
  }
  #about img {
    margin-top: 30px;
  }
  #menu .menu-items {
    flex-direction: column;
  }
  #contact .contact-content {
    flex-direction: column;
  }
  #contact .contact-info, #contact form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  #navbar img {
    margin: 0 0 20px 0;
  }
  nav ul {
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  header .content h1 {
    font-size: 32px;
  }
  #offers .offers-items {
    flex-direction: column;
  }
  #menu .menu-items .menu-item {
    flex-direction: column;
    text-align: center;
  }
  #menu .menu-items .menu-item img {
    margin: 0 0 15px 0;
  }
}